# Installing the packages

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\hongdingzhang\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hongdingzhang\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hongdingzhang\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hongdingzhang\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hongdingzhang\anaconda3\lib\site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import openai
import requests

In [4]:
os.getcwd()

'c:\\Users\\HongdingZhang\\OneDrive - Harnham Search and Selection Ltd\\airbnb_project\\AirBnB'

In [5]:
os.chdir('../datasets')

In [6]:
os.getcwd()

'c:\\Users\\HongdingZhang\\OneDrive - Harnham Search and Selection Ltd\\airbnb_project\\datasets'

## Reading in the reviews file for AirBnB listings in Paris, France

In [7]:
rev_df = pd.read_csv('reviews.csv.gz', compression='gzip')
rev_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3109,207127433,2017-10-28,51636494,Patricia,Tout s'est bien déroulé. Merci bien. PG
1,3109,208779822,2017-11-03,4142888,Patricia,Un petit nid fouiller douillet situé dans app...
2,3109,295840159,2018-07-24,7415343,Laurent,"Appartement spacieux, propre,clair, et calme à..."
3,3109,553502638,2019-10-24,21159216,Anastasia,"Appartement totalement rénové, en parfait état..."
4,5396,4824,2009-06-30,19995,Sarah,Perfect location!! Nasrine was a delight and m...

### Checking for nulls

In [8]:
rev_df.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      2
comments         123
dtype: int64

### Dropping the reviewer name as this is not needed in the analysis

In [9]:
rev_df = rev_df.drop('reviewer_name', axis = 1)
rev_df

,listing_id,id,date,reviewer_id,comments
0,3109,207127433,2017-10-28,51636494,Tout s'est bien déroulé. Merci bien. PG
1,3109,208779822,2017-11-03,4142888,Un petit nid fouiller douillet situé dans app...
2,3109,295840159,2018-07-24,7415343,"Appartement spacieux, propre,clair, et calme à..."
3,3109,553502638,2019-10-24,21159216,"Appartement totalement rénové, en parfait état..."
4,5396,4824,2009-06-30,19995,Perfect location!! Nasrine was a delight and m...
...,...,...,...,...,...
1999645,1236935838120106698,1243420523739709927,2024-09-11,430914385,excellent
1999646,1237019610223238525,1241222639331655295,2024-09-08,11879784,"Très bel appartement parisien, avec une belle ..."
1999647,1237042259061485682,1241152955077433804,2024-09-08,463363270,Appartement très propre et cosy le balcon est ...
1999648,1237042259061485682,1242696770405093531,2024-09-10,146476597,"Perfekte Wohnung 5 Sterne,<br/>freundlicher Ga..."
1999649,1237081091596854348,1241169909489423311,2024-09-08,417122992,"Super week-end passé dans ce logement, on ne s..."

In [10]:
rev_df = rev_df.dropna(subset=['comments'])
rev_df

,listing_id,id,date,reviewer_id,comments
0,3109,207127433,2017-10-28,51636494,Tout s'est bien déroulé. Merci bien. PG
1,3109,208779822,2017-11-03,4142888,Un petit nid fouiller douillet situé dans app...
2,3109,295840159,2018-07-24,7415343,"Appartement spacieux, propre,clair, et calme à..."
3,3109,553502638,2019-10-24,21159216,"Appartement totalement rénové, en parfait état..."
4,5396,4824,2009-06-30,19995,Perfect location!! Nasrine was a delight and m...
...,...,...,...,...,...
1999645,1236935838120106698,1243420523739709927,2024-09-11,430914385,excellent
1999646,1237019610223238525,1241222639331655295,2024-09-08,11879784,"Très bel appartement parisien, avec une belle ..."
1999647,1237042259061485682,1241152955077433804,2024-09-08,463363270,Appartement très propre et cosy le balcon est ...
1999648,1237042259061485682,1242696770405093531,2024-09-10,146476597,"Perfekte Wohnung 5 Sterne,<br/>freundlicher Ga..."
1999649,1237081091596854348,1241169909489423311,2024-09-08,417122992,"Super week-end passé dans ce logement, on ne s..."

In [11]:
rev_df.isnull().sum()

listing_id     0
id             0
date           0
reviewer_id    0
comments       0
dtype: int64

In [12]:
##This function will return the full output of the API call:
 
def get_completion(prompt, model="gpt-4o-mini", temperature=0):
    messages = [{"role": "user", "content": prompt}]
    response = client.chat.completions.create(
        model=model,
        messages=messages,
        temperature = temperature
    )
    return response.choices[0].message.content

In [13]:
length = len(rev_df)
length

1999527

In [14]:
sample = rev_df['comments'][0]
print(sample)

Tout s'est bien déroulé. Merci bien. PG

In [15]:
prompt = f"""
Perform the following actions using an input with the text delimited by ''':

1 - Translate the comments into English. 
2 - Pick out two key words from the comment. 
3 - State whether the comment is a negative or positive review based of the words used. 

Use the following format:
Translation: <task 1>
Key words: <task 2>
Negative or Positive: <task 3>

Text:
'''{sample}'''
"""
response = get_completion(prompt)
print(response)

NameError: name 'client' is not defined